$website-width: 1400px;
$font-stack: 'Lato', sans-serif;
$brdr-rad: 5px;
$trans: all .2s ease-in-out;

// Descriptive Base Colors

$purple-mountain-majesty: #927bc1;
$coral: #fd7856;
$french-lilac: #deb2ee;
$anakiwa: #7ee6fd;
$vista-blue: #88d9a0;
$fountain-blue: #4da2bb;
$sea-pink: #ec9fa3;
$vivid-tangerine: #fd9f85;
$sunglo: #e4757a;
$emerald: #63cc82;
$malibu: #51ddfc;
$riptide: #80e8d1;

// Color Usage

$color-white: #fff;
$color-grey: #777;
$color-primary: $malibu;
$color-secondary: #58e1c1;

// Grid bg colors map
$themes: (
  '1': $purple-mountain-majesty,
  '2': $coral,
  '3': $french-lilac,
  '4': $anakiwa,
  '5': $vista-blue,
  '6': $fountain-blue,
  '7': $sea-pink,
  '8': $vivid-tangerine,
  '9': $sunglo,
  '10': $emerald,
  '11': $malibu,
  '12': $riptide,
);

// Buttons bg color map
$buttons: (
  'default': $malibu,
  'success': $emerald,
  'error': $sunglo,
  'warning': $coral,
  'info': $purple-mountain-majesty,
);

// Media query breakpoints
$xs: 575px;
$sm: 576px;
$med: 768px;
$lg: 992px;